.top-nav {
  background: #f7f7f7;
}
.top-nav .top-nav-wrap {
  padding: 0;
}
.header {
  width: 1240px;
  margin: 0 auto;
  padding: 13px 0;
  /* ����bar */
}
.header .logo-wrap {
  float: left;
}
.header .logo-wrap .logo {
  display: block;
  width: 172px;
  height: 65px;
  float: left;
  background: url(../images/logo2.png) no-repeat;
}
.header .logo-wrap .logo-tip {
  width: 123px;
  height: 34px;
  margin: 23px 0 0 23px;
  float: left;
  background: url(../images/logo2-right.png) no-repeat;
}
.header .search-bar-wrap {
  float: left;
  margin-left: 56px;
  margin-top: 16px;
  border: 0;
}
.header .search-bar-wrap .input-txt {
  float: left;
  height: 28px;
  line-height: 28px;
  text-align: left;
  color: #adadad;
  border: 2px solid #e69b02;
  border-right: 0;
}
.header .search-bar-wrap a.sear-btn,
.header .search-bar-wrap a.sear-shop-btn {
  display: block;
  padding: 0 13px;
  height: 32px;
  line-height: 32px;
  float: left;
  background: #e69b02;
  color: #fff;
  font-size: 18px;
  border: 2px solid #e69b02;
}
.header .search-bar-wrap a.sear-btn:hover,
.header .search-bar-wrap a.sear-shop-btn:hover {
  background: #123457;
  border-color: #123457;
}
.header .search-bar-wrap a.sear-shop-btn {
  margin-left: 2px;
}
.header .right-infor {
  float: right;
}
.header .right-infor ul li {
  float: left;
  display: block;
  background: #f9f9f9;
  width: 139px;
  height: 50px;
  margin-left: 2px;
  margin-top: 9px;
}
.header .right-infor ul li p {
  text-align: center;
  font-size: 12px;
  color: #a0a0a0;
  font-family: "SimSun";
}
.header .right-infor ul li p.num {
  font-weight: bold;
  font-size: 24px;
  font-family: "Microsoft YaHei";
  color: #ee4e4e;
  margin-top: 4px;
  line-height: 26px;
}
.header .right-infor ul li p.num img {
  margin: -3px 0 0 5px;
}
.center {
  width: 998px;
  margin: 20px auto 0;
  clear: both;
  overflow: hidden;
  border-top: 1px solid #123457;
}
.center .cart-tit {
  height: 42px;
  line-height: 42px;
}
.center .cart-tit .left {
  float: left;
  font-size: 14px;
}
.center .cart-tit .left span {
  color: #a0a0a0;
  font-size: 12px;
  margin-left: 23px;
}
.center .cart-tit .right {
  float: right;
  font-size: 12px;
  color: #292929;
}
.center .cart-tit .right span {
  color: #ee4e4e;
}
.center .cart-tit .right span i {
  font-size: 18px;
  font-style: normal;
}
.center .list-header {
  clear: both;
  height: 32px;
  line-height: 32px;
  background: #dfdfdf;
  color: #292929;
  font-size: 14px;
}
/* .center .list-header .checkbox {
  float: left;
  width: 7%;
  height:100%;
} */
.center .list-header .checkbox input {
	margin-top: 10px;
	margin-left: 10%;	
}
.center .list-header .pro-infor {
  float: left;
  width: 35.5%;
}

.center .list-header .order-number {
  float: left;
  width: 32%;
  text-align: center;
}
.center .list-header .order-company-name {
  float: left;
  width: 15%;
  text-align: center;
}

.center .list-header .pro-price {
  float: left;
  width: 10.3%;
  text-align: center;
}
.center .list-header .amount {
  float: left;
  width: 11.5%;
}

.center .list-header .order-first-pay {
  float: left;
  width: 10%;
  text-align: center;
}

.center .list-header .order-time-down {
  float: left;
  width: 15%;
  text-align: center;
}

.center .list-header .order-amount {
  float: left;
  width: 15%;
  text-align: center;
}



.center .list-header .order-pay-amount {
  float: left;
  text-align: center;
}

.center .list-header .param {
  float: left;
  width: 17%;
}
.center .list-header .option {
  float: left;
}
.center .selected-pro-wrap {
  font-size: 12px;
  clear: both;
}


.center .order-pay-type {
    margin-top: 10px;
    overflow: hidden;
    padding: 20px 0px;
}

.center .order-pay-type p {
	font-size: 14px;
	font-weight: bolder;
}

.center .order-pay-type .order-pay-list {
	margin-top: 10px;
    overflow: hidden;
    padding: 20px 10px;
    background:  #f2f2f2 none repeat scroll 0 0
}

.center .order-pay-type .order-pay-list ul {
	width: 95%;
	margin: 0 auto;
}

/* .center .order-pay-type .order-pay-list ul li {
	background-color: #fff;
    border: 1px solid #b0c2e1;
    border-radius: 2px;
    cursor: pointer;
    float: left;
    height: 35px;
    line-height: 37px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: center;
    transition: border-color 0.2s ease 0s;
    width: 188px;
} */

.center .order-pay-type .order-pay-list ul li span {
	display: block;
	width: 100%;
	height: 100%;
	margin-top: 10px;
}


.pl-wrap {
	overflow: hidden;
	padding-bottom: 12px;
}
.pl-item {
	background-color: #fff;
	border: 1px solid #b0c2e1;
	border-radius: 2px;
	cursor: pointer;
	float: left;
	height: 55px;
	margin-bottom: 10px;
	margin-right: 10px;
	text-align: center;
	line-height: 55px;
	transition: border-color 0.2s ease 0s;
	width: 170px;
}

.pl-item span img{
	max-width: 90%;
	margin: 0 auto;
}

.center .order-pay-type .order-pay-list ul li span img {
}


.center .selected-pro-wrap .order-infor-wrap {
  padding: 0 14px;
  color: #000;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
}
.center .selected-pro-wrap .order-infor-wrap .order-shopname {
  float: left;
  margin-right: 65px;
}
.center .selected-pro-wrap .order-infor-wrap .order-shopname input {
  margin-right: 15px;
}
.center .selected-pro-wrap .order-infor-wrap .order-shopname span i {
  color: #646464;
  font-style: normal;
}
.center .selected-pro-wrap .order-infor-wrap .order-del {
  float: left;
  margin-right: 65px;
}
.center .selected-pro-wrap .order-infor-wrap .order-del a:hover {
  color: #e69b02;
}
.center .selected-pro-wrap .order-infor-wrap .online-ser {
  float: left;
  margin-right: 65px;
}
.center .selected-pro-wrap .order-infor-wrap .online-ser img {
  width: 20px;
}
.center .selected-pro-wrap .order-infor-wrap .shop-tel {
  float: left;
  margin-right: 65px;
}
.center .selected-pro-wrap .order-infor-wrap .shop-addr span {
  color: #646464;
}
.center .selected-pro-wrap .pro-wrap {
  background: #f2f2f2;
  border: 1px solid #e3e3e3;
  border-bottom: 0;
  clear: both;
}
.center .selected-pro-wrap .pro-wrap .pro-top {
  border-bottom: 1px solid #e3e3e3;
}
.center .selected-pro-wrap .pro-wrap .pro-top ul li {
  border-bottom: 1px solid #e3e3e3;
  padding: 13px 0;
  overflow: hidden;
  font-size: 12px;
  color: #383838;
}
.center .selected-pro-wrap .pro-wrap .pro-top ul li .checkbox-item {
  float: left;
  width: 7%;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .checkbox-item input {
 margin-left: 20%;
}
.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-img {
  float: left;
  width: 150px;
  height: 105px;
  margin-left: 10px;
}
.center .selected-pro-wrap .pro-wrap .pro-top ul li .order-number {
  float: left;
  width: 32%;
  height: 80px;
  text-align:center;
  position: relative;
  line-height: 80px;
}



.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-infor .pro-name {
  line-height: 18px;
  margin-top: 12px;
  width: 265px;
}
.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-infor .pro-serv {
  position: absolute;
  bottom: 0;
  left: 22px;
}
.center .selected-pro-wrap .pro-wrap .pro-top ul li .order-company-name{
  float: left;
  width: 15%;
  text-align: center;
    line-height: 80px;height: 80px;
}



.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-price .old {
  margin-top: 12px;
  text-decoration: line-through;
}
.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-price .new {
  color: #ee4e4e;
}
.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-price .new i {
  font-size: 18px;
  font-style: normal;
}
.center .selected-pro-wrap .pro-wrap .pro-top ul li .order-first-pay {
  float: left;
  width: 10%;
  text-align: center;
    line-height: 80px;height: 80px;
}
.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-amount a.num-add,
.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-amount a.num-minus {
  display: block;
  float: left;
  font-size: 18px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  text-align: center;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-amount a.num-add:hover,
.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-amount a.num-minus:hover {
  background: #e69b02;
  color: #fff;
}
.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-amount a.num-add {
  border-right: 1px solid #dedede;
}
.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-amount .num-detail {
  background: #fff;
  float: left;
  padding: 0 10px;
  height: 22px;
  line-height: 22px;
  border: 1px solid #dedede;
  text-align: center;
}
.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-amount a.num-minus {
  border-left: 1px solid #dedede;
}
.center .selected-pro-wrap .pro-wrap .pro-top ul li .order-time-down {
  float: left;
  width: 15%;
  cursor: pointer;
  text-align: center;
    line-height: 80px;height: 80px;
}
.center .selected-pro-wrap .pro-wrap .pro-top ul li .order-amount {
  float: left;
  width: 15%;
  text-align: center;
    line-height: 80px;height: 80px;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .order-pay-amount {
  float: left;
  text-align: center;
  
    line-height: 80px;height: 80px;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .order-amount span{
	   color: #ee4e4e;
    	font-size: 12px;
}
.center .selected-pro-wrap .pro-wrap .pro-top ul li .order-amount span i{
	       font-size: 18px;
    font-style: normal;
}


.center .selected-pro-wrap .pro-wrap .pro-top ul li .order-pay-amount span{
	   color: #ee4e4e;
    	font-size: 12px;
}
.center .selected-pro-wrap .pro-wrap .pro-top ul li .order-pay-amount span i{
	       font-size: 18px;
    font-style: normal;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-option a {
  display: block;
  margin-bottom: 8px;
}
.center .selected-pro-wrap .pro-wrap .pro-top ul li a:hover {
  color: #e69b02;
}
.center .selected-pro-wrap .pro-wrap .pro-top .tip-wrap {
  padding: 15px 0;
  overflow: hidden;
}
.center .selected-pro-wrap .pro-wrap .pro-top .tip-wrap .tit {
  float: left;
  margin-right: 5px;
}
.center .selected-pro-wrap .pro-wrap .pro-top .tip-wrap .cont {
  float: left;
}
.center .selected-pro-wrap .pro-wrap .pro-top .tip-wrap .cont a {
  text-decoration: underline;
}
.center .selected-pro-wrap .pro-wrap .pro-bottom {
  clear: both;
  background: #fff;
  padding: 15px;
  color: #646464;
  border-bottom: 1px solid #e3e3e3;
  line-height: 22px;
  overflow: hidden;
}
.center .selected-pro-wrap .pro-wrap .pro-bottom h2 {
  font-size: 14px;
  font-weight: normal;
  color: #383838;
}
.center .selected-pro-wrap .pro-wrap .pro-bottom p {
  padding: 0 10px;
}
.center .selected-pro-wrap .pro-wrap .pro-bottom ul {
  padding: 0 10px;
}
.center .selected-pro-wrap .pro-wrap .pro-bottom ul li {
  float: left;
  width: 150px;
  margin-right: 135px;
}
.center .selected-pro-wrap .pro-wrap .pro-bottom .pro-size {
  margin-top: 5px;
}
.center .selected-pro-wrap .pro-wrap .pro-bottom .pro-size ul li {
  border: 0;
}
.center .selected-pro-wrap .pro-price-wrap {
  margin-top: 10px;
  overflow: hidden;
  border:1px solid #e3e3e3;
  padding: 20px 30px;
}
.center .selected-pro-wrap .pro-price-wrap .pro-price-inner {
  float: right;
  width: 25%;
}

.center .selected-pro-wrap .pro-price-wrap .pro-price-inner ul li {
  width: 100%;
  display: block;
  height: 40px;
}
.center .selected-pro-wrap .pro-price-wrap .pro-price-inner .price-item-name {
  float: left;
  color: #171717;
  line-height: 38px;
  text-align: right;
  width: 50%;
}
.center .selected-pro-wrap .pro-price-wrap .pro-price-inner .price-item {
  float: left;
  color: #171717;
  line-height: 38px;
  text-align: left;
  width: 50%;
}

.center .selected-pro-wrap .pro-price-wrap .pro-price-inner .pay-way-name {
  float: left;
  color: #171717;
  line-height: 38px;
  text-align: right;
  width: 50%;
}
.center .selected-pro-wrap .pro-price-wrap .pro-price-inner .pay-way {
  float: left;
  color: #171717;
  line-height: 38px;
  text-align: left;
  width: 50%;
}


.center .selected-pro-wrap .pro-price-wrap .pro-price-inner .price-item input{
  float: left;
  border:1px solid #ccc;
  background-color: #e3e3e3;
  height: 30px;
  text-indent: 10px;
  width: 100%;
}

.center .selected-pro-wrap .pro-price-wrap .pro-price-inner .price-item span {
  color: #ee4e4e;
  font-size: 12px;
}
.center .selected-pro-wrap .pro-price-wrap .pro-price-inner .price-item span i {
  font-style: normal;
  font-size: 18px;
}
.center .selected-pro-wrap .pro-price-wrap .pro-price-inner .btn-submit {
  float: left;
  background: #ee4e4e;
  color: #fff;
  font-size: 14px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  border-radius: 8px;
  width: 120px;
}
.center .selected-pro-wrap .pro-price-wrap .pro-price-inner .btn-submit:hover {
  background: #dd3838;
}
.center .page-nav {
  margin-bottom: 50px;
  margin-top: 20px;
}


.center .option-right .btn-confirm {
    background: #ee4e4e none repeat scroll 0 0;
    border-radius: 8px;
    color: #fff;
    font-size: 14px;
    margin-right: 15px;
    padding: 8px 33px;
    text-align: center;
}





.center .option-right {
    height: 50px;
    margin-top: 20px;
    padding-left: 50px;
    padding-top: 10px;
    float: right;
    margin-bottom: 30px;
}


.center .option-right .btn-not {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ee4e4e;
    border-radius: 8px;
    color: #ee4e4e;
    font-size: 14px;
    padding: 8px 38px;
    text-align: center;
}


