<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/util
		http://www.springframework.org/schema/util/spring-util-3.0.xsd
		http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/aop  
		http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:iepe.properties</value>
			</list>
		</property>
	</bean>

	<!-- AOP自动代理 -->
	<aop:aspectj-autoproxy />

	<!-- 自动检测并装配 -->
	<context:component-scan base-package="com.zbiti" />


	<!-- annotation默认的方法映射适配器 -->
	<bean id="handlerMapping"
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />

	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<!-- 解释JSON -->
			<list>
				<bean
					class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter">
					<property name="supportedMediaTypes">
						<list>
							<value>text/html;charset=UTF-8</value>
						</list>
					</property>
				</bean>
			</list>
		</property>
	</bean>

	<!-- 登录扩展 -->
	<bean id="loginExtExcuterImpl" class="com.zbiti.iepe.framework.controller.LoginExtExcuterImpl"></bean>
	<bean id="loginExt" class="com.zbiti.iepe.framework.util.LoginExt">
		<property name="loginExtExcuter" ref="loginExtExcuterImpl"></property>
	</bean>

	<aop:config>
		<aop:aspect ref="loginExt">
			<aop:after method="afterLogin"
				pointcut="execution(* com.zbiti.iepe.framework.controller.LoginController.login(..))" />
			<aop:after method="afterLoginOut"
				pointcut="execution(* com.zbiti.iepe.framework.controller.LoginController.logOut(..))" />
		</aop:aspect>
	</aop:config>

	<!-- 登录扩展结束 -->
	<bean id="aopLog" class="com.zbiti.core.aop.Aop4Log"></bean>

	<!-- 配置DataSource数据源 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
		<property name="driverClass" value="${jdbc.driverClassName}"></property>
		<property name="jdbcUrl" value="${jdbc.url}"></property>
		<property name="user" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<property name="acquireIncrement" value="${acquireIncrement}"></property>
		<property name="maxIdleTime" value="${maxIdleTime}"></property>
		<property name="initialPoolSize" value="${initialPoolSize}"></property>
		<property name="maxPoolSize" value="${maxPoolSize}"></property>
		<property name="minPoolSize" value="${minPoolSize}"></property>
		<property name="maxStatements" value="${maxStatements}"></property>
		<property name="maxStatementsPerConnection" value="${maxStatementsPerConnection}"></property>
		<property name="testConnectionOnCheckin" value="${testConnectionOnCheckin}" />
		<property name="automaticTestTable" value="${automaticTestTable}" />
		<property name="idleConnectionTestPeriod" value="${idleConnectionTestPeriod}" />
		<property name="checkoutTimeout" value="${checkoutTimeout}" />
		<property name="acquireRetryAttempts" value="${acquireRetryAttempts}" />
		<property name="acquireRetryDelay" value="${acquireRetryDelay}" />
	</bean>

	<!-- solr 搜索引擎 -->
	<bean class="com.zbiti.iepe.framework.util.ProductUtil"></bean>


	<!-- 事务 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 启用申明式事务，自动探测@Transactional注解 -->
	<tx:annotation-driven />

	<!-- 配置SqlSessionFactoryBean -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis/mybatis.xml" />
		<!-- mapper和resultmap配置路径 -->
		<property name="mapperLocations">
			<list>
				<!-- 表示在com.zbiti包或以下所有目录中，以-resultmap.xml结尾所有文件 -->
				<value>classpath*:com/zbiti/**/**/model/*-resultmap.xml</value>
				<value>classpath*:com/zbiti/**/**/dao/*-mapper.xml</value>
			</list>
		</property>
	</bean>

	<!-- 通过扫描的模式，扫描目录在com/zbiti/**/dao目录下 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.zbiti.**.dao" />
	</bean>

	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<bean class="com.zbiti.core.interceptor.AuthenticationInterceptor">
				<property name="redirectUrl">
					<value>/login/timeOut.do</value>
				</property>
				<property name="mapping">
					<list>
						<value>/login/index.do</value>
						<!-- <value>/login/checkAccount.do</value> -->
						<value>/login/login.do</value>
						<value>/login/timeOut.do</value>
						<!-- 测试用，正式发布请删除 add by wangyan @ 20141115 -->
						<!-- <value>/common/queryBySql.do</value> -->
					</list>
				</property>
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>


</beans>
