<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zbiti.iepe.framework.dao.CommonDao">
	<select id="queryBySql" parameterType="string" resultType="HashMap">
		${sql}
	</select>
	<select id="queryBySqllistPage" resultType="HashMap">
		${sql}
	</select>
</mapper>