.center {
	width: 1062px;
	margin: 20px auto 0;
	clear: both;
	overflow: hidden;
}

.center .cart-tit {
	height: 42px;
	line-height: 42px;
}

.center .cart-tit .left {
	width:100%;
	float: left;
	font-size: 14px;
}

.center .cart-tit .left span {
	color: #a0a0a0;
	font-size: 12px;
	margin-left: 23px;
}

.center .cart-tit .right {
	float: right;
	font-size: 12px;
	color: #292929;
}

.center .cart-tit .right span {
	color: #ee4e4e;
}

.center .cart-tit .right span i {
	font-size: 18px;
	font-style: normal;
}

.center .list-header {
	clear: both;
	height: 32px;
	line-height: 32px;
	background: #dfdfdf;
	color: #292929;
	font-size: 14px;
}

.center .list-header .checkbox {
	float: left;
	margin-left: 11px;
	width: 14.5%;
}

.center .list-header .checkbox input {
	margin-right: 15px;
}



.center .list-header .pro-infor {
	text-align: center;
	float: left;
	width: 30%;
}

.center .list-header .pro-cancel {
	float: left;
	margin-left: 5px;
}

.center .list-header .pro-price {
	text-align: center;
	float: left;
	width: 14%;
}

.center .list-header .new-price {
	text-align: center;
	float: left;
	width: 14%;
}

.center .list-header .amount {
	text-align: center;
	float: left;
	width: 14%;
}

.center .list-header .param {
	text-align: center;
	float: left;
	width: 14%;
}

.center .list-header .option {
	text-align: center;
	float: left;
	width: 14%;
}

.center .selected-pro-wrap {
	font-size: 12px;
	clear: both;
}

.center .selected-pro-wrap .order-infor-wrap {
	padding: 0 14px;
	color: #000;
	font-size: 12px;
	height: 44px;
	line-height: 48px;
}

.center .selected-pro-wrap .order-infor-wrap .order-shopname {
	float: left;
	margin-right: 65px;
}

.center .selected-pro-wrap .order-infor-wrap .order-shopname input {
	margin-right: 15px;
}

.center .selected-pro-wrap .order-infor-wrap .order-shopname span i {
	color: #646464;
	font-style: normal;
}

.center .selected-pro-wrap .order-infor-wrap .order-del {
	float: left;
	margin-right: 65px;
}

.center .selected-pro-wrap .order-infor-wrap .order-del a:hover {
	color: #e69b02;
}

.center .selected-pro-wrap .order-infor-wrap .online-ser {
	float: left;
	margin-right: 65px;
}

.center .selected-pro-wrap .order-infor-wrap .online-ser img {
	width: 20px;
}

.center .selected-pro-wrap .order-infor-wrap .shop-tel {
	float: left;
	margin-right: 65px;
}

.center .selected-pro-wrap .order-infor-wrap .shop-addr span {
	color: #646464;
}

.center .selected-pro-wrap .pro-wrap {
	background: #f2f2f2;
	border: 1px solid #e3e3e3;
	border-bottom: 0;
	clear: both;
}

.center .selected-pro-wrap .pro-wrap .pro-top {
	padding: 0 5px;
	padding-left:10px;
	border-bottom: 1px solid #e3e3e3;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li {
	border-bottom: 1px solid #e3e3e3;
	padding: 13px 0;
	overflow: hidden;
	font-size: 12px;
	color: #383838;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .checkbox-item {
	float: left;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-img {
	float: left;
	width: 150px;
	height: 105px;
	margin-left: 10px;
}


.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-infor {
	float: left;
	width: 30%;
	height: 105px;
/* 	padding: 0 22px; */
	position: relative;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-infor .pro-name
	{
	line-height: 18px;
	margin-top: 12px;
	width: 265px;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-infor .pro-serv
	{
	position: absolute;
	bottom: 0;
	left: 22px;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-price {
	margin-top: 16px;
	float: left;
	width: 12%;
	/* padding: 0 22px; */
	text-align: center;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-price .old {
	margin-top: 12px;
	text-decoration: line-through;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-price .new {
	color: #ee4e4e;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-price .changeprice {
	color: #ee4e4e;
	text-decoration: line-through;
}


.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-price .new i {
	font-size: 18px;
	font-style: normal;
}




.center .selected-pro-wrap .pro-wrap .pro-top ul li .new-price {
	margin-top: 16px;
	float: left;
	width: 14%;
	/* padding: 0 22px; */
	text-align: center;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .new-price .old {
	margin-top: 12px;
	text-decoration: line-through;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .new-price .new {
	color: #ee4e4e;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .new-price .new i {
	font-size: 18px;
	font-style: normal;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .new-price .inp-text
	{
	width: 60px;
	border: 1px solid #999999;
	text-indent: 0.5em;
	height: 22px;
}


.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-amount {
	float: left;
	width: 10%;
	text-align: center;
	padding-left:67px; 
	margin-top: 16px;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-amount a.num-add,
	.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-amount a.num-minus
	{
	display: block;
	float: left;
	font-size: 18px;
	width: 22px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-amount a.num-add:hover,
	.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-amount a.num-minus:hover
	{
	background: #e69b02;
	color: #fff;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-amount a.num-add
	{
	border-right: 1px solid #dedede;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-amount .num-detail
	{
	background: #fff;
	float: left;
	padding: 0 18px;
	height: 22px;
	line-height: 22px;
	border: 1px solid #dedede;
	text-align: center;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-amount a.num-minus
	{
	border-left: 1px solid #dedede;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-price-old {
	margin-top: 16px;
	float: left;
	width: 12%;
	text-align: center;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-price-old .old
	{
	margin-top: 12px;
	text-decoration: line-through;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-price-old .new
	{
	color: #ee4e4e;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-price-old .new i
	{
	font-size: 18px;
	font-style: normal;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-option {
	float: left;
	width: 12%;
	padding-top:15px;
	padding-left:22px;
	text-align: center;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-option .inp-text
	{
	width: 60px;
	border: 1px solid #999999;
	text-indent: 0.5em;
	height: 22px;
}

.center  .inp-text-num {
	width: 40px;
	text-align: center;
	float: left;
	height: 22px;
	background:#f2f2f2;
}

.center  .inp-text-other {
	width: 40px;
	border: 1px solid #999999;
	text-align: center;
	height: 22px;
}


.center .selected-pro-wrap .pro-wrap .pro-top ul li .pro-option a {
	display: block;
	margin-bottom: 8px;
}

.center .selected-pro-wrap .pro-wrap .pro-top ul li a:hover {
	color: #e69b02;
}

.center .selected-pro-wrap .pro-wrap .pro-top .tip-wrap {
	padding: 15px 0;
	overflow: hidden;
}

.center .selected-pro-wrap .pro-wrap .pro-top .tip-wrap .tit {
	float: left;
	margin-right: 5px;
}

.center .selected-pro-wrap .pro-wrap .pro-top .tip-wrap .cont {
	float: left;
}

.center .selected-pro-wrap .pro-wrap .pro-top .tip-wrap .cont a {
	text-decoration: underline;
}

.center .selected-pro-wrap .pro-wrap .pro-bottom {
	clear: both;
	background: #fff;
	padding: 15px;
	color: #646464;
	border-bottom: 1px solid #e3e3e3;
	line-height: 22px;
	overflow: hidden;
	margin-top: 10px;
}

.center .selected-pro-wrap .pro-wrap .pro-bottom h2 {
	font-size: 14px;
	font-weight: normal;
	color: #383838;
}

.center .selected-pro-wrap .pro-wrap .pro-bottom p {
	padding: 0 10px;
}

.center .selected-pro-wrap .pro-wrap .pro-bottom ul {
	padding: 0 10px;
}

.center .selected-pro-wrap .pro-wrap .pro-bottom ul li {
	float: left;
	width: 120px;
	margin-right: 20px;
	border: 2px solid #969696;
	text-align: center;
	padding: 5px 0;
	height: 20px;
}

.center .selected-pro-wrap .pro-wrap .pro-bottom ul li:HOVER {
	float: left;
	width: 120px;
	margin-right: 20px;
	border: 2px solid #ee4e4e;
	text-align: center;
	padding: 5px 0;
}



.center .selected-pro-wrap .pro-wrap .pro-bottom ul li .filename {
	height: 100%;
	width: 85px;
	display: block;
	float: left;
}

.center .selected-pro-wrap .pro-wrap .pro-bottom ul li .close {
	right: 0px;
	top: -5px;
	position: relative;
	z-index: 1000;
	background-color: white;
	width:15px;
	height:15px;
	cursor: pointer;
}

.center .selected-pro-wrap .pro-wrap .pro-bottom .pro-size {
	margin-top: 5px;
}

.center .selected-pro-wrap .pro-wrap .pro-bottom .pro-size ul li {
	border: 0;
}

.center .selected-pro-wrap .pro-price-wrap {
	margin-top: 10px;
	overflow: hidden;
}

.center .selected-pro-wrap .pro-price-wrap .pro-price-inner {
	float: right;
	width: 30%;
}

.center .selected-pro-wrap .pro-price-wrap .pro-price-inner .price-item
	{
	float: left;
	color: #171717;
	margin-right: 35px;
	line-height: 38px;
	width: 100%;
	color: #999999;
}

.center .selected-pro-wrap .pro-price-wrap .pro-price-inner .price-item-other
	{
	margin-right: 35px;
	line-height: 38px;
	width: 100%;
	color: #999999;
}


.center .selected-pro-wrap .pro-price-wrap .pro-price-inner .price-item span
	{
	color: #ee4e4e;
	font-size: 24px;
}

.center .selected-pro-wrap .pro-price-wrap .pro-price-inner .price-item span i
	{
	font-style: normal;
	font-size: 18px;
}

.center .selected-pro-wrap .pro-price-wrap .pro-price-inner .btn-submit
	{
	float: left;
	background: #ee4e4e;
	color: #fff;
	font-size: 14px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	border-radius: 8px;
	width: 120px;
}

.center .selected-pro-wrap .pro-price-wrap .pro-price-inner .btn-submit:hover
	{
	background: #dd3838;
}

.center .page-nav {
	margin-bottom: 50px;
	margin-top: 20px;
}

.center .pro-price-wrap .pro-price-inner .btn-confirm {
	float: left;
	background: #ee4e4e;
	color: #fff;
	margin-right: 15px;
	font-size: 14px;
	text-align: center;
	padding: 8px 33px;
	border-radius: 8px;
}

.center .pro-price-wrap .pro-price-inner .btn-not {
	float: left;
	background: #fff;
	color: #ee4e4e;
	border: 1px solid #ee4e4e;
	font-size: 14px;
	text-align: center;
	padding: 8px 38px;
	border-radius: 8px;
}

.inquiry_form .textbox {
	border: 1px solid #d9d9d9;
	color: #a0a0a0;
	line-height: 18px;
	outline: medium none;
	resize: none;
}

.inquiry_form .areabox {
	border: 1px solid #d9d9d9;
	color: #a0a0a0;
	font-size: 12px;
	line-height: 18px;
	outline: medium none;
	padding: 5px 10px;
	resize: none;
}